* {
  margin: 0;
}
body {
  background: #222222;
  color: #f0f0f0;
  font-family: 'Nobile';
}
a:active,
a:link,
a:visited {
  color: #ffffff;
  padding: 2px;
  
  text-decoration: none;
  font-weight: bold;
}
a:hover, a:focus {
  background: #777777;
  color: #ffffff;
  padding: 2px;
  border-bottom: none;
  text-decoration: none;
}
header {
  width: 700px;
  font-family: 'Nobile';
  font-weight: bold;
  font-size: 2.5em;
  padding: 5px;
  padding-top: 20px;
}
section.main {
  position: absolute;
  left: 50%;
  width: 700px;
  margin-left: -350px;
  height: 100%;
}
footer {
  height: 100px;
  width: 700px;
  padding: 10px;
  border-top: solid #777777;
  margin-bottom: 800px;
  text-align: center;
}
article {
  margin-bottom: 80px;
}
p {
  margin-bottom: 30px;
}
h1 {
  background: #777777;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: solid thin #ffffff;
  margin-bottom: 15px;
}
nav {
  margin-top: 10px;
  margin-bottom: 20px;
}
table {
  width: 100%;
}
th {
  text-align: left;
  font-weight: normal;
  vertical-align: top;
  background: #444444;
  padding: 5px;
}
td {
  background: #444444;
  padding: 5px;
}
td a {
  font-weight: normal !important;
}
span.elliot {
  color: #fafc7e;
  padding: 2px;
}
tt {
  font-size: 1.2em;
  font-weight: bold;
  background: #444444;
  padding: 2px;
}
input[type='text'] {
  width: 250px;
}
.highlight {
  font-size: 1.2em;
}
ul {
  margin-top: 20px;
}
li {
  padding-bottom: 8px;
}
span.menuitem {
  cursor: pointer;
  font-weight: bold;
}