body {
    margin: 0;
    height: 100%;
    font-family: 'Droid Sans';
    background: #F0F0F0;
}
a:active,
a:link,
a:visited {
    font-family: 'Nobile';
    background: #E4EDEF;
    color: #1B5E73;
    padding: 1px;
    border-bottom: solid thin #1B5E73;
    text-decoration: none;
}
a:hover, a:focus {
    font-family: 'Nobile';
    background: #E4EDEF;
    color: #1B5E73;
    padding: 1px;
    border-bottom: none;
    text-decoration: none;
}
h1 {
    font-family: 'Nobile';
    background: #E4EDEF;
    color: #1B5E73;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 0px;
    border-bottom: solid thin #1B5E73;
}
th {
    text-align: left;
}
textarea {
    height: 120px;
    width: 400px;
}
div#header-container {
    height: 8%;
    background: #f9f9f9;
    color: #1B5E73;
    border-bottom: solid thin #E4EDEF;
    position: relative;
}
div#header {
    padding: 10px;
    margin-left: 30%;
    margin-right: 30%;
    
    position: absolute;
    bottom: 0;
    right: 0;
}
div#header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
div#header li {
    display: inline;
    margin-right: 4px;
}
div#header a:link, a:visited, a:active {
    font-family: 'Nobile';
    background: transparent;
    color: #1B5E73;
    padding: 3px;
    border-bottom: none;
    text-decoration: none;
}
div#header a:hover, a:focus {
    font-family: 'Nobile';
    background: #E4EDEF;
    color: #1B5E73;
    padding: 3px;
    border-bottom: solid thin #1B5E73;
    text-decoration: none;
}
div#content-container {
    height: 84%;
}
div#content {
    height: 100%;
    background: #ffffff;
    padding: 10px;
    margin-left: 30%;
    margin-right: 30%;
}

div#footer-container {
    height: 8%;
    background: #f9f9f9;
    color: #1B5E73;
    border-top: solid thin #E4EDEF;
}
div#footer {
    padding: 10px;
    margin-left: 30%;
    margin-right: 30%;
}